/* resets */

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0 currentColor;
  border-image: none;
}

/* Article */
.article {
  padding: max(8vmin, 40px) 0 max(8vmin, 64px);
}

/* Article Header */
.article header.article-header {
  padding: 0 0 max(6.4vmin, 40px);
}

.article header h1.article-title {
  color: #15171a;
  font-size: clamp(3.2rem, 5vw, 3.2rem);
  font-weight: 800;
  line-height: 1.05;
  margin-bottom: 0;
  max-width: 45rem;
  margin-inline: auto;
}

/* Article Header byline */
.article .article-byline {
  display: flex;
  justify-content: space-between;
  margin: min(24px, 5.6vmin) 0 0;
}

.article .article-byline-content {
  align-items: center;
  display: flex;
  flex-grow: 1;
  max-width: 45rem;
  margin-inline: auto;
}

.article .article-byline .article-byline-meta {
  color: #979797;
  font-size: 0.875rem;
  line-height: 1.05rem;
}

/* Article Author */

/* .author-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 0 4px;
  padding: 0;
}

.article-byline-content .author-list {
  justify-content: flex-start;
  padding: 0 14px 0 0;
}

.article .article-byline .author-list-item {
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

.article .article-byline-meta .author-name {
  font-size: 1.0625rem;
  font-weight: 700;
  letter-spacing: 0;
  margin: 0 0 6px;
}

.article .article-byline .author-avatar {
  background-color: #e1e1e1;
  border: 2px solid #fff;
  border-radius: 50%;
  display: block;
  height: min(56px, 13.6vmin);
  margin: 0 -4px;
  overflow: hidden;
  width: min(56px, 13.6vmin);
}

.article .article-byline .author-profile-image {
  background: #fff;
  border-radius: 100%;
  display: block;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
} */

/* Article figure */

.article figure.article-image {
  grid-column: wide-start/wide-end;
  margin: max(6.4vmin, 40px) 0 0;
  width: 100%;
}

/* Figcation */

figcaption {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8125rem;
  line-height: 18.2px;
  padding-top: 0.5rem;
  text-align: center;
}

figcaption a {
  text-decoration: underline;
}

/* Article Content */

.article .article-content {
  max-width: 45rem;
  margin-inline: auto;
}

.article .article-content > * + * {
  margin-bottom: 0;
  margin-top: max(3.2vmin, 24px);
}

.article .article-content a {
  color: #2e36ff;
  text-decoration: underline;
  word-break: break-word;
}

.article .article-content p {
  font-size: 1.25rem;
  line-height: 2rem;
}

.article .article-content .article-gallery-image {
  cursor: pointer;
  max-width: 45rem;
  margin-inline: auto;
}

.article .article-content .gallery-image {
  cursor: pointer;
}

/* Aside */

.read-more-wrap {
  margin-top: max(12vmin, 72px);
}

.read-more {
  grid-gap: 4vmin;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.read-more-title {
  font-weight: 400;
  max-width: 62rem;
  margin-inline: auto;
  margin-block: max(3.2vmin, 24px);
}

/* Author */

.editor {
  padding: 1.25rem 0;
  border: 1px solid #e2e2e2;
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-top: 3.125rem;
}

.editor .edited-by {
  text-transform: uppercase;
  color: #b9b9b9;
  font-size: 1rem;
  margin: 0;
}

.editor .author {
  font-size: 1.3125rem;
  margin: 0.3125rem 0.625rem 0.3125rem 0;
  display: inline;
}

.editor p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

.editor .icon {
  margin: 0.625rem 0;
  text-align: left;
  display: inline;
  cursor: pointer;
}

.editor .icon > a {
  margin: 0;
  padding: 0;
  height: 20px;
  width: 20px;
  justify-content: center;
  position: relative;
  background-color: #4267b2;
  border-radius: 4px;
  font-size: 13px;
  line-height: 32px;
  margin-right: 8px;
  padding: 0 0;
  text-align: center;
  color: #fff;
  transition: opacity 0.2s ease-in, transform 0.2s ease-in;
  transform: translateY(0);
  display: inline-flex;
  align-items: center;
}

.editor .iconLD2 {
  background-color: #0077b5;
  border-radius: 2px;
}

.editor .iconLD {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  margin-left: -0.3125rem;
  margin-bottom: -0.625rem;
  justify-content: flex-start;
}

.editor .text {
  font-size: 1rem;
  margin: 0;
  margin-top: 0.625rem;
  margin-bottom: 1.5625rem;
}

.editor div:nth-child(2) {
  text-align: center;
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editor div:nth-child(2) img {
  max-width: 12.5rem;
  width: 100%;
  border-radius: 100px;
  -webkit-filter: grayscale(100%) brightness(98%) contrast(110%);
  filter: grayscale(100%) brightness(98%) contrast(110%);
}

/* Media Queries */

@media (max-width: 62.5rem) {
  .read-more {
    grid-template-columns: repeat(4, 1fr);
  }
  .read-more > article:last-of-type {
    display: none;
  }
  .read-more-title {
    max-width: 45rem;
  }
}

@media (max-width: 700px) {
  .read-more {
    grid-template-columns: repeat(2, 1fr);
  }
  .read-more > article:nth-child(2) {
    display: none;
  }
}

@media (min-width: 770px) {
  .editor {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    padding: 1.25rem 0;
    margin-top: 3.125rem;
  }

  .editor div:nth-child(2) {
    margin-top: 0;
    width: 150%;
    padding: 0 1.5625rem 0 0.9375rem;
    text-align: center;
  }
}
