.toc-navigation-container {
  width: 22%;
  align-self: normal;
  display: none;
}

.toc-navigation-content {
  position: sticky;
  top: 10px;
  background-color: #f7f7f7;
  border: 1px solid #ededed;
  padding: 1rem 2rem;
}

.toc-heading {
  text-align: center;
  margin-bottom: 1rem;
}

.toc-navigation-content li > ol {
  padding-left: 1rem;
}

.toc-navigation-content a:hover {
  text-decoration: underline;
}

ol {
  counter-reset: item;
}
li {
  display: block;
}
li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
}

/* 3. ScrollSpy active styles (see JS tab for activation) */
.toc-nav li.active > a {
  color: #f40045;
}

@media screen and (min-width: 1024px) {
  .toc-navigation-container {
    display: block;
  }
}
